<!-- user_profile.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ profile_user.username }}'s Profile</title>
</head>
<body>
    
    {% block content %}
        <h1>{{ profile_user.username }}'s Profile</h1>
        <h3>{{ profile_user.profile.bio}}</h3>
        {% if following %}
            <form action="{% url 'unfollow_user' profile_user.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Unfollow</button>
            </form>
        {% else %}
            <form action="{% url 'follow_user' profile_user.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Follow</button>
            </form>
        {% endif %}
        
        <h2>Recipes by {{ profile_user.username }}</h2>
        <ul>
            {% for recipe in user_recipes %}
                <li><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.title }}</a></li>
            {% endfor %}
        </ul>
    {% endblock %}
</body>
</html>
